<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp-relay.csiro.au" />
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>

    <bean id="mailService" class="org.auscope.portal.server.vegl.mail.services.VGLMailService">
         <constructor-arg name="jobErrorMailSender" ref="jobErrorMailSender"/>
    </bean>
    
    <bean name="jobErrorMailSender" class="org.auscope.portal.server.vegl.mail.JobErrorMailSender" autowire="constructor">
        <property name="template" value="org/auscope/portal/server/web/service/monitor/templates/job-error.tpl" />
        <property name="dateFormat" value="EEE, d MMM yyyy HH:mm:ss" />
        <property name="maxLengthForSeriesNameInSubject" value="15" />
        <property name="maxLengthForJobNameInSubject" value="15" />
        <property name="maxLinesForTail" value="5" />
        <property name="emailSender"><value><![CDATA[VGL Admin <noreply-cg-admin@csiro.au>]]></value></property>
        <property name="emailSubject" value="VGL Job (%s/%s) Error" />
    </bean>    


</beans>