.header-container {
	position:fixed;
    overflow:hidden; 
    height:60px; 
    width:100%;    
    background-color: #1368ad;
}

.banner {
	width:700px;
	height: 60px;
	background:url(../img/banner.png) 0 0px no-repeat;
	cursor: pointer;
}

/* does not render on the interface; often used for web-accessibility  */
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.menu {
	position:fixed;
	overflow:hidden; 
	height:60px; /* trips haslayout, wrap floats IE */
	top: 0px;
	list-style:none;
    right: 0px;
	font:bold 14px/40px sans-serif;
    float: right;
}

.menu-item {
	display:inline-block;
	height: 60px;
	margin-right: 20px;
	padding-top: 10px;
}

.menu-item.current,
.menu-item:hover {
	border-bottom-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.menu-item a {
	color: #ffffff;
	text-decoration: none;
}

.login-widget {
	display:inline-block;
	color: #ffffff;
	height: 60px;
    margin-right: 20px;
}

.sub-menu {
	display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0;
}

.login-widget:hover > .sub-menu {
	display:block;
}

#anvgl-footer {
	height : 120px !important;
}

#anvgl-footer ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

#anvgl-footer li {
	display : table-cell;
	height : 90px;
	margin : 0 10px 0 0;
	vertical-align : middle;
}

#anvgl-footer li img {
	width : 180px;
}
/* !ANVGL-12 updates */