.header-container {
	position:fixed;
    height:60px; 
    width:100%;    
    background-color: #1368ad;
    z-index: 9999;
}

.banner {
	width:372px;
	height: 57px;
	background:url(../img/img-auscope-banner.gif) 3px 3px/372px 57px no-repeat;
	cursor: pointer;
}

/* does not render on the interface; often used for web-accessibility  */
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.menu {
	position:fixed;
	height:60px; /* trips haslayout, wrap floats IE */
	top: 0px;
	list-style:none;
    right: 30px;
	font:bold 14px/40px sans-serif;
    float: right;
    
    /* This is to minimise the craziness that occurs at small horizontal resolutions*/
    background-color: #1368ad; 
    white-space: nowrap;
}

.menu-item {
	display:inline-block;
	height: 60px;
	margin-right: 14px;
	padding: 10px 12px 0 12px;
	cursor: pointer;
}

.menu-item.current,
.menu-item:hover {
	border-bottom-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.menu-item a {
	color: #ffffff;
	text-decoration: none;
	padding: 22px 0;
}

.login-text a {
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.login-widget {
	color: #ddd;
	font-style: italic;
	margin: 0 20px 0 60px;
}

.dropdownicon {
	display: inline-block;
	width: 0; 
    height: 0; 
    margin: 0 0 1px 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ddd;
}

.sub-menu {
	display:none;
    position:absolute;
    background: #f9f9f9;
    padding:2px 5px 2px 5px;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub-menu a {
	display: block;
    text-decoration: none;
    font:bold 14px/40px sans-serif;
    color: black;
    padding: 12px 16px;
}

.sub-menu input {
    background:none!important;
    border:none; 
    padding:12px 16px!important;
    font:bold 14px/40px sans-serif;
    cursor: pointer;
}

.sub-menu a:hover {
	background-color: #f1f1f1
}

.sub-menu input:hover {
    background-color: #f1f1f1
}

.login-widget:hover .sub-menu {
	display:block;
}

.login-widget:hover .sub-menu-image {
    display:block;
}

.login-message {
	border: 1px solid #000000;
	border-radius: 6px;
	font: 18px/40px sans-serif;
    color: black;
    padding: 0px 12px 16px 12px;
    position: relative;
    width: 600px;
    top: 90px;
    left: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.google-small-icon {
    background-image: url("../img/btn_google_signin_light_normal_web.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 26px;
    width: 110px;
    position: relative;
    right: 4px;
}

.google-small-icon:hover {
    border: 1px solid #1368ad;
}

.aaf-small-icon {
    background-image: url("../img/aaf_service_110x26.png");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 110px;
    height: 26px;
    position: relative;
    right: 4px;
}

.aaf-small-icon:hover {
	border: 1px solid #1368ad;
}

.google-medium-icon {
    background-image: url("../img/btn_google_signin_light_normal_web2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 54px;
    width: 223px;
    margin-top: 20px;
    float: left;
}

.aaf-medium-icon {
    background-image: url("../img/aaf_service_223x54.png");
    cursor: pointer;
    width: 223px;
    height: 54px;
    margin-top: 20px;
    margin-left: 250px;
}

#latlng, #permalinkicon, #permalink {
    display: none;
}

#anvgl-footer {
	height : 120px !important;
}

#anvgl-footer ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

#anvgl-footer li {
	display : table-cell;
	height : 90px;
	margin : 0 10px 0 0;
	vertical-align : middle;
}

/* !ANVGL-12 updates */