.header-container {
	position:fixed;
    height:60px; 
    width:100%;    
    background-color: #1368ad;
}

.banner {
	width:700px;
	height: 60px;
	background:url(../img/banner.png) 0 0px no-repeat;
	cursor: pointer;
}

/* does not render on the interface; often used for web-accessibility  */
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.menu {
	position:fixed;
	height:60px; /* trips haslayout, wrap floats IE */
	top: 0px;
	list-style:none;
    right: 0px;
	font:bold 14px/40px sans-serif;
    float: right;
    
    /* This is to minimise the craziness that occurs at small horizontal resolutions*/
    background-color: #1368ad; 
    white-space: nowrap;
}

.menu-item {
	display:inline-block;
	height: 60px;
	margin-right: 14px;
	padding: 10px 12px 0 12px;
	cursor: pointer;
}

.menu-item.current,
.menu-item:hover {
	border-bottom-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.menu-item a {
	color: #ffffff;
	text-decoration: none;
}

.login-text a {
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.login-widget {
	color: #ddd;
	font-style: italic;
	margin: 0 20px 0 60px;
}

.dropdownicon {
	display: inline-block;
	width: 0; 
    height: 0; 
    margin: 0 0 1px 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ddd;
}

.sub-menu {
	display:none;
    position:absolute;
    background: #f9f9f9;
    padding:2px 5px 2px 5px;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub-menu a {
	display: block;
    text-decoration: none;
    font:bold 14px/40px sans-serif;
    color: black;
    padding: 12px 16px;
}

.sub-menu a:hover {
	background-color: #f1f1f1
}

.login-widget:hover .sub-menu {
	display:block;
}

#latlng, #permalinkicon, #permalink {
    display: none;
}

#anvgl-footer {
	height : 120px !important;
}

#anvgl-footer ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

#anvgl-footer li {
	display : table-cell;
	height : 90px;
	margin : 0 10px 0 0;
	vertical-align : middle;
}

#anvgl-footer li img {
	width : 180px;
}
/* !ANVGL-12 updates */