<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:s="http://www.springframework.org/schema/security"
         xmlns:beans="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                             http://www.springframework.org/schema/security
                             http://www.springframework.org/schema/security/spring-security-4.2.xsd">


    <!-- Default entry point ref to redirect to login page on unauthorised attempts to access secure pages -->
    <!--
    <beans:bean id="defaultEntryPoint" class="org.auscope.portal.server.web.security.DefaultEntryPoint">
        <beans:property name="realmName" value="VGL-Portal" />
    </beans:bean>
    -->
    
    <!-- Google OAuth2 endpoint required now that login.html doesn't send users to their Google account -->
    <!--
    <http pattern="/oauth/**" entry-point-ref="oAuth2EntryPoint">
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <intercept-url pattern="/oauth/google_login.html" access="isAuthenticated()"/>
        <custom-filter ref="oauth2AuthFilter" after="EXCEPTION_TRANSLATION_FILTER"/>
        <logout logout-url="/j_spring_security_logout" logout-success-url="${frontEndUrl}"/>
        <s:csrf disabled="true"/>
    </http>
    -->
    
    <!-- AAF Entry point will redirect to defined AAF login URL -->
    <!--
    <http pattern="/jwt/**" entry-point-ref="aafEntryPoint">
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <intercept-url pattern="/jwt/aaf_login.html" access="isAuthenticated()"/>
        <custom-filter ref="aafFilter" after="EXCEPTION_TRANSLATION_FILTER"/>
        <logout logout-url="/j_spring_security_logout" logout-success-url="${frontEndUrl}"/>
        <s:csrf disabled="true"/>
    </http>
    -->

    <!-- Common entry point -->
    <!--
    <http entry-point-ref="defaultEntryPoint">
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <intercept-url pattern="/login.html" access="isAnonymous()"/>        
        <intercept-url pattern="/gridsubmit.html" access="isAuthenticated()"/>
        <intercept-url pattern="/jobbuilder.html" access="isAuthenticated()"/>
        <intercept-url pattern="/user.html" access="isAuthenticated()"/>
        <intercept-url pattern="/joblist.html" access="isAuthenticated()"/>
        <intercept-url pattern="/secure/*" access="isAuthenticated()"/>
        <intercept-url pattern="/admin.html" access="hasRole('ROLE_ADMINISTRATOR')"/>
        <intercept-url pattern="/*.diag" access="hasRole('ROLE_ADMINISTRATOR')"/>        
        <custom-filter ref="oauth2AuthFilter" after="FORM_LOGIN_FILTER"/>
        <custom-filter ref="aafFilter" before="FORM_LOGIN_FILTER"/>
        <logout logout-url="/j_spring_security_logout" logout-success-url="${frontEndUrl}"/>
        <s:csrf disabled="true"/>
    </http>

    <beans:bean id="redirectUnconfigUserHandler" class="org.auscope.portal.server.web.security.RedirectUnconfiguredUserHandler" autowire="byType">
    	<beans:property name="frontEndUrl" value="${frontEndUrl}" />
    </beans:bean>
    
    <beans:bean id="googleAuthFailureHandler" class="org.auscope.portal.server.web.security.GoogleAuthenticationFailureHandler" autowire="byType">
    </beans:bean>
    -->

    <!-- Google OAuth2 -->
    <!--
    <beans:bean id="oAuth2EntryPoint" class="com.racquettrack.security.oauth.OAuth2AuthenticationEntryPoint">
        <beans:property name="oAuth2ServiceProperties" ref="oauth2ServiceProperties"/>
    </beans:bean>

    <beans:bean id="oauth2AuthFilter" class="com.racquettrack.security.oauth.OAuth2AuthenticationFilter">
        <beans:constructor-arg name="defaultFilterProcessesUrl" value="/oauth/callback"/>
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="oAuth2ServiceProperties" ref="oauth2ServiceProperties"/>
        <beans:property name="authenticationSuccessHandler" ref="redirectUnconfigUserHandler"/>
        <beans:property name="authenticationFailureHandler" ref="googleAuthFailureHandler"/>
    </beans:bean>

    <beans:bean id="oauth2AuthenticationProvider" class="com.racquettrack.security.oauth.OAuth2AuthenticationProvider">
        <beans:property name="authenticatedUserDetailsService" ref="oAuth2UserDetailsService"/>
        <beans:property name="oAuth2ServiceProperties" ref="oauth2ServiceProperties"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="oauth2AuthenticationProvider">
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="oauth2ServiceProperties" class="org.auscope.portal.server.web.security.ANVGLGoogleOAuth2ServiceProperties">
        <beans:constructor-arg name="redirectUri" value="${HOST.portalUrl}/oauth/callback"/>
        <beans:constructor-arg name="clientId" value="${env.oauth2.google.clientid}"/>
        <beans:constructor-arg name="clientSecret" value="${env.oauth2.google.clientsecret}"/>
    </beans:bean>

    <beans:bean id="simpleUserLoader" class="org.auscope.portal.server.web.security.PersistedGoogleUserDetailsLoader">
        <beans:constructor-arg name="defaultRole" value="ROLE_USER"/>
        <beans:constructor-arg name="rolesByUser">
            <beans:map>
                <beans:entry key="105810302719127403909">
                    <beans:list>
                        <beans:value>ROLE_ADMINISTRATOR</beans:value>
                        <beans:value>ROLE_UBC</beans:value>
                    </beans:list>
                </beans:entry>
            </beans:map>
        </beans:constructor-arg>
        <!XX<beans:property name="userDao" ref="anvglUserDao"/>XX>
    </beans:bean>

    <beans:bean id="oAuth2DefaultUserInfoProvider" class="com.racquettrack.security.oauth.DefaultOAuth2UserInfoProvider">
        <beans:property name="oAuth2ServiceProperties" ref="oauth2ServiceProperties"/>
    </beans:bean>

    <beans:bean id="oAuth2UserDetailsService" class="com.racquettrack.security.oauth.OAuth2UserDetailsService">
        <beans:property name="oAuth2UserDetailsLoader" ref="simpleUserLoader"/>
        <beans:property name="oAuth2ServiceProperties" ref="oauth2ServiceProperties"/>
        <beans:property name="oAuth2UserInfoProvider" ref="oAuth2DefaultUserInfoProvider"/>
    </beans:bean>
    -->
    
    <!-- AAF -->
    <!--
    <beans:bean id="aafEntryPoint" class="org.auscope.portal.server.web.security.aaf.AAFAuthenticationEntryPoint">
    	<beans:property name="aafLoginUrl" value="${aafLoginUrl}" />
    </beans:bean>
    
    <beans:bean id="simpleAafUserLoader" class="org.auscope.portal.server.web.security.aaf.PersistedAAFUserDetailsLoader">
        <beans:constructor-arg name="defaultRole" value="ROLE_USER"/>
        <beans:constructor-arg name="rolesByUser">
            <beans:map>
                <beans:entry key="105810302719127403909">
                    <beans:list>
                        <beans:value>ROLE_ADMINISTRATOR</beans:value>
                        <beans:value>ROLE_UBC</beans:value>
                    </beans:list>
                </beans:entry>
            </beans:map>
        </beans:constructor-arg>
        <!XX<beans:property name="userDao" ref="anvglUserDao"/>XX>
    </beans:bean>
    
    <beans:bean id="aafFilter" class="org.auscope.portal.server.web.security.aaf.AAFAuthenticationFilter">
       <beans:property name="authenticationManager" ref="aafAuthenticationManager" />
       <beans:property name="authenticationSuccessHandler" ref="redirectUnconfigUserHandler"/>        
    </beans:bean>

    <beans:bean id="aafProvider" class="org.auscope.portal.server.web.security.aaf.AAFAuthenticationProvider">
       <beans:property name="jwtManagement" ref="jwtManagement" />
   </beans:bean>

   <beans:bean id="jwtManagement" class="org.auscope.portal.server.web.security.aaf.JWTManagement">
       <beans:property name="userDetailsLoader" ref="simpleAafUserLoader" />
       <beans:property name="jwtSecret" value="${env.aaf.jwtsecret}" />
       <beans:property name="rootServiceUrl" value="${portalUrl}" />
   </beans:bean>

   <authentication-manager id="aafAuthenticationManager">
        <authentication-provider ref="aafProvider" />
   </authentication-manager>
   -->

</beans:beans>