<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
   >
      
   <!-- Turn on HostPrecedingPropertyPlaceholderConfigurer -->
   <!-- http://jdwyah.blogspot.com/2006/12/updated-spring-configuration.html -->
   <bean id="propertyConfigurer" class="org.auscope.portal.server.util.PortalPropertyPlaceholderConfigurer">
      <property name="locations">
         <list>
            <value>classpath:config.properties</value>
            <value>classpath:env.properties</value>
         </list>
      </property>
   </bean>

    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${fileupload.maxFileSize}"/>
    </bean>

    <bean id="geodesySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>geodesyjob.hbm.xml</value>
                <value>geodesyseries.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>hibernate.dialect=org.hibernate.dialect.HSQLDialect</value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="geodesySessionFactory"/>
    </bean>

    <bean id="geodesyJobDao" class="org.auscope.portal.server.gridjob.GeodesyJobDao">
        <property name="sessionFactory" ref="geodesySessionFactory"/>
    </bean>

    <bean id="geodesySeriesDao" class="org.auscope.portal.server.gridjob.GeodesySeriesDao">
        <property name="sessionFactory" ref="geodesySessionFactory"/>
    </bean>

    <bean id="geodesyJobManager" class="org.auscope.portal.server.gridjob.GeodesyJobManager">
        <property name="geodesyJobDao" ref="geodesyJobDao"/>
        <property name="geodesySeriesDao" ref="geodesySeriesDao"/>
    </bean>

    <bean id="gridAccess" class="org.auscope.portal.server.gridjob.GridAccessController">
        <property name="gridFtpServer" value="${gridftp.server}"/>
        <property name="gridFtpStageInDir" value="${gridftp.stageInDir}"/>
        <property name="gridFtpStageOutDir" value="${gridftp.stageOutDir}"/>
        <property name="localGridFtpServer" value="${gridftp.localServer}"/>
        <property name="localGridFtpStageInDir" value="${gridftp.localStageInDir}"/>
        <property name="localGridFtpStageOutDir" value="${gridftp.localStageOutDir}"/>
    </bean>
</beans>