<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
   >
      
   <!-- Turn on HostPrecedingPropertyPlaceholderConfigurer -->
   <!-- http://jdwyah.blogspot.com/2006/12/updated-spring-configuration.html -->
   <bean id="propertyConfigurer" class="org.auscope.portal.server.util.PortalPropertyPlaceholderConfigurer">
      <property name="locations">
         <list>
            <value>classpath:config.properties</value>
            <value>classpath:env.properties</value>
         </list>
      </property>
   </bean>

    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${fileupload.maxFileSize}"/>
    </bean>

    <bean id="vrlSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>vrljob.hbm.xml</value>
                <value>vrlseries.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>hibernate.dialect=org.hibernate.dialect.HSQLDialect</value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="vrlSessionFactory"/>
    </bean>

    <bean id="vrlJobDao" class="org.auscope.portal.server.gridjob.VRLJobDao">
        <property name="sessionFactory" ref="vrlSessionFactory"/>
    </bean>

    <bean id="vrlSeriesDao" class="org.auscope.portal.server.gridjob.VRLSeriesDao">
        <property name="sessionFactory" ref="vrlSessionFactory"/>
    </bean>

    <bean id="vrlJobManager" class="org.auscope.portal.server.gridjob.VRLJobManager">
        <property name="VRLJobDao" ref="vrlJobDao"/>
        <property name="VRLSeriesDao" ref="vrlSeriesDao"/>
    </bean>

    <bean id="gridAccess" class="org.auscope.portal.server.gridjob.GridAccessController">
        <property name="localGridFtpServer" value="${gridftp.server}"/>
        <property name="localGridFtpStageInDir" value="${gridftp.stageInDir}"/>
        <property name="localGridFtpStageOutDir" value="${gridftp.stageOutDir}"/>
    </bean>
</beans>